<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RequestCounter" value="10"/>
  </appSettings>
  <connectionStrings>
    <add name="appDatabase" connectionString="Data Source=localhost;Initial Catalog=CustomerDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>